</main>
<footer>
    <div class="simon">
        <a class="edit submit home" href="/">🏠 Home </a>
        <p>&copy;Simon 2018</p>
        <div class="social">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-snapchat-square"></i>
        </div>
    </div>
</footer>
</body>

</html>