</main>
<footer>
    <div class="simon">
        <a class="edit submit home" href="/">🏠 Home </a>
        <p>
            <span class="r">&copy;</span>
            <span class="o">S</span>
            <span class="y">i</span>
            <span class="g">m</span>
            <span class="b">o</span>
            <span class="i">n</span>
            <span class="v"> 2</span>
            <span class="r">0</span>
            <span class="o">1</span>
            <span class="y">8</span>
        </p>
        <div class="social">
            <span class="g">
                <i class="fab fa-facebook-square"></i>
            </span>
            <span class="b">
                <i class="fab fa-linkedin"></i>
            </span>
            <span class="i">
                <i class="fab fa-instagram"></i>
            </span>
            <span class="v">
                <i class="fab fa-snapchat-square"></i>
            </span>
        </div>
    </div>
</footer>
</body>

</html>