body {
  background-color: hotpink;
  color: rgb(20, 207, 231);
  font-family: "Galada", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a:visited,
a {
  color: rgb(20, 207, 231);
}

a:hover {
  color: hotpink;
}

.chocolatecake,
.recipe-card {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 900px;
  width: 1080px;
}

.chocolatecake {
  background-image: url("/images/chocolatecake.jpg");
}

.recipe-card {
  background-image: url("/images/recipecard.jpg");
}

ul {
  list-style: inside;
}

li {
  font-size: 15px;
  margin: -8px;
}

h2 {
  padding-top: 50px;
  font-size: 50px;
}

footer {
  padding: 20px;
  font-size: 25px;
  word-spacing: 3.5px;
  border-top: solid rgb(20, 207, 231) 6px;
  width: 100%;
  background-color: powderblue;
  bottom: 0;
  padding-bottom: 15px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

a {
  text-decoration: none;
}

input,
.submit {
  background-color: hotpink;
  border: solid powderblue 6px;
  padding: 6px;
  margin: 10px;
  font-family: "Galada", cursive;
}

textarea,
input,
.submit:hover {
  border: solid 6px hotpink;
  background-color: powderblue;
}

textarea {
  width: 500px;
  height: 200px;
  font-family: "Galada", cursive;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipes {
  font-size: 20px;
}

.instructions {
  padding-left: 50px;
  width: 90%;
  text-align: left;
}

header {
  font-size: 60px;
  background-color: hotpink;
  border: solid 15px powderblue;
  border-radius: 100%;
  width: 90%;
  margin-bottom: 5px;
}

.recipecontainer {
  padding-top: 20px;
}

.bold {
  font-weight: bold;
}

.space {
  margin: 100px;
}

.simon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  animation: color 3s infinite alternate;
  width: 150px;
}

@keyframes color {
  from {
    border: rgb(20, 207, 231);
  }
  to {
    background-color: rgb(20, 207, 231);
    color: hotpink;
    border: hotpink;
  }
}

@keyframes r {
  from {
    color: rgba(255, 0, 0, 0.1);
  }
  to {
    color: rgba(255, 0, 0, 1);
  }
}

.r {
  animation: r 3s infinite alternate;
}

@keyframes o {
  from {
    color: rgba(255, 165, 0, 0.1);
  }
  to {
    color: rgba(255, 165, 0, 1);
  }
}

.o {
  animation: o 2s infinite alternate;
}

@keyframes y {
  from {
    color: rgba(255, 255, 0, 0.1);
  }
  to {
    color: rgba(255, 255, 0, 1);
  }
}

.y {
  animation: y 1s infinite alternate;
}

@keyframes g {
  from {
    color: rgba(0, 128, 0, 0.1);
  }
  to {
    color: rgba(0, 128, 0, 1);
  }
}

.g {
  animation: g 1.5s infinite alternate;
}

@keyframes b {
  from {
    color: rgba(0, 0, 255, 0.1);
  }
  to {
    color: rgba(0, 0, 255, 1);
  }
}

.b {
  animation: b 2.5s infinite alternate;
}

@keyframes i {
  from {
    color: rgba(75, 0, 130, 0.1);
  }
  to {
    color: rgba(75, 0, 130, 1);
  }
}

.i {
  animation: i 0.5s infinite alternate;
}

@keyframes v {
  from {
    color: rgba(238, 130, 238, 0.1);
  }
  to {
    color: rgba(238, 130, 238, 1);
  }
}

.v {
  animation: v 2.7s infinite alternate;
}

@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }

  .chocolatecake,
  .recipe-card {
    background-image: none;
  }

  header {
    font-size: 26px;
    width: auto;
    background-color: lightgreen;
  }

  .chocolatecake,
  .recipe-card {
    width: 480px;
  }

  li,
  footer,
  .recipes {
    font-size: 25px;
  }

  h2 {
    padding-top: 50px;
    font-size: 50px;
  }

  footer {
    word-spacing: 1px;
    width: 480px;
  }

  a:hover {
    color: lightgreen;
  }
}
