<%- include('../partials/header.ejs') %>
    <div class="recipe-card">
        <% ingredients.forEach((ingredient) => { %>
            <ul>
                <li>
                    <a href="3">
                        ingredients:
                        <%= ingredient.ingredientName %>
                    </a>
                </li>
            </ul>
            <% }) %>
                <p>
                    <a href="/new">Add an Ingredient</a>
                </p>
    </div>
<%- include('../partials/footer.ejs') %>