<%- include('../partials/header.ejs') %>
    <form action="/recipe/<%= ingredient.id %>" method="post">
        <input type="text" value="" placeholder="ingredient" name="ingredientName" required/>
        <input type="text" value="" placeholder="amount" name="amount" required/>
        <input type="submit" id="submit">
    </form>
<%- include('../partials/footer.ejs') %>