<%- include('../partials/header.ejs') %>
    <div class="chocolatecake">
        <div class="recipecontainer">
            <h2>Recipes</h2>
            <% recipes.forEach((recipe) => { %>
                <ul>
                    <li class="recipes">
                        <a href="/recipe/<%= recipe.id %>">
                            Recipe name:
                            <%= recipe.recipeName %>
                        </a>
                    </li>
                </ul>
                <% }) %>
                    // make sure this is indented properly!
                    <p class="space">
                        <a class="submit" href="/recipes/new">Add a Recipe</a>
                    </p>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>
