<%- include('../partials/header.ejs') %>
    <div class="recipe-card">
        <% recipes.forEach((recipe) => { %>
            <ul>
                <li>
                    <a href="/recipe/<%= recipe.id %>">
                        Recipe name:
                        <%= recipe.recipeName %>
                    </a>
                </li>
            </ul>
            <% }) %>
                <p>
                    <a href="/recipes/new">Add a Recipe</a>
                </p>
    </div>
<%- include('../partials/footer.ejs') %>