<%- include('../partials/header.ejs') %>
    <div class="recipe-card chocolatecake">
        <h2>Add a Recipe</h2>
        <form action="/" method="post">
            <input type="text" value="" placeholder="Recipe name" name="recipeName" required/>
            <input type="text" value="" placeholder="Cooking Time" name="cookingTime" required/>
            <input type="text" value="" placeholder="Prep Time" name="prepTime" required/>
            <textarea type="text" value="" placeholder="instructions" name="instructions" required/>
            <input class="submit" type="submit" id="submit">
        </form>
    </div>
<%- include('../partials/footer.ejs') %>